<div class=" hero_home container-fluid text-center text-white">
    <h2 class="py-3">Welcome to DevTeam</h2>

    <p class="lead py-4">A membership site where entrepreneurs meet developers</p>
</div>

<div class="container">
  <div class="row my-5 py-5">
    <div class="col-sm">
      <div class="card" >
       <div class="card-header text-center bg-info">
        Free
      </div>
       <ul class="list-group list-group-flush">
        <li class="list-group-item">Cras justo odio</li>
        <li class="list-group-item">Dapibus ac facilisis in</li>
        <li class="list-group-item"> <%= link_to 'SignUp',new_user_registration_path,class:"btn btn-info" %> </li>
      </ul>
      </div>
    </div>
    <div class="col-sm">
      <div class="card" >
       <div class="card-header text-center bg-warning">
        Basic
       </div>
        <ul class="list-group list-group-flush">
        <li class="list-group-item">Cras justo odio</li>
        <li class="list-group-item">Dapibus ac facilisis in</li>
        <li class="list-group-item"> <%= link_to 'SignUp',new_user_registration_path,class:"btn btn-info" %> </li>
      </ul>
      </div>
    </div>
  </div>
</div>
