<div class=" hero_home container-fluid text-center text-white">
    <h2 class="py-3">Welcome to DevTeam</h2>

    <p class="lead py-4">A membership site where entrepreneurs meet developers</p>
</div>
