@import "bootstrap";
@import "font-awesome";

body{
  font-family: 'Open Sans', sans-serif;
}

.hero_home {
  background: #56CCF2;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2F80ED, #56CCF2);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2F80ED, #56CCF2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  padding-top: 100px;
  padding-bottom: 50px;
}
.navbar{
  background: #56CCF2;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2F80ED, #56CCF2);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2F80ED, #56CCF2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  padding-top: 25px;
  color: #fff;
  border-bottom: red;
}
.navbar-light .navbar-brand {
    color: #fff;
    font-weight: bold;
    &:hover{
      color: #fff;
      opacity: 0.7;
    }
}
.navbar-light .navbar-nav .nav-link {
    color: rgb(255, 255, 255);
    &:hover{
      color: #fff;
      opacity: 0.7;
    }
  }
.hero_about{
  padding-top: 100px;
  padding-bottom: 50px;
}
.navbar-light .navbar-toggler {
    border: none;
}
.alert-notice{
  display: none;
}
